# Copier vers .env et renseigner les valeurs (symfony.com/doc/current/configuration.html)

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_generate_with_openssl_rand_hex_32
SYMFONY_TRUSTED_PROXIES=127.0.0.1,::1
SYMFONY_TRUSTED_HEADERS=x-forwarded-for,x-forwarded-host,x-forwarded-proto,x-forwarded-port,x-forwarded-prefix
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> cleanavis ###
DEFAULT_URI=http://127.0.0.1:8000
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET=
GOOGLE_MAPS_API_KEY=
ADMIN_NOTIFICATION_EMAIL=
MAILER_FROM=
APP_SKIP_CAPTCHA=0
###< cleanavis ###
