<!DOCTYPE html>
<html lang="fr" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}CleanAvis.fr{% endblock %}</title>
{% block seo %}{% endblock %}
{% block meta %}{% endblock %}
<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ asset('assets/images/og-cleanavis.png') }}">
<meta name="theme-color" content="#1A73E8">
{# Polices Google : préconnexion + chargement non bloquant (LCP / chemin critique) #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% set google_fonts_css = 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700&family=Sora:wght@600;700;800;900&display=swap' %}
<link rel="preload" as="style" href="{{ google_fonts_css }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link href="{{ google_fonts_css }}" rel="stylesheet"></noscript>
{% block styles %}{% endblock %}
{% block head_extra %}{% endblock %}
{# Meta Pixel (Facebook) #}
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3250342145174617');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3250342145174617&ev=PageView&noscript=1"
alt="" /></noscript>
<!-- End Meta Pixel Code -->
</head>
<body{% block body_attr %}{% endblock %}>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
